* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    background: #1f1f5c;
    color: white;
    text-align: center;
}

.navbar {
    background: #333;
    padding: 10px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.container {
    margin-top: 40px;
}

h1 {
    color: #00ffcc;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

.botoes-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.botao {
    text-decoration: none;
}

.botao img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
